# fly.toml app configuration file generated for tansa-web on 2026-01-05T10:22:05+13:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tansa-web'
primary_region = 'syd'
swap_size_mb = 512

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 2
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
